@page "/"
@using MudBlazor
@using Microsoft.AspNetCore.Authorization
@using SocialAssistInfoSystem.Client.Data
@using System.Collections.ObjectModel
@using SocialAssistInfoSystem.Client.Data.Dto
@using SocialAssistInfoSystem.Client.Data.ViewModel
@using SocialAssistInfoSystem.Client.Util
@using SocialAssistInfoSystem.Data.DBEntity
@using System.Text.Json
@attribute [Authorize]
@inject ISnackbar Snackbar
@inject IDialogService DialogService

<PageTitle>Home</PageTitle>

<AuthorizeView>

    <NotAuthorized>
        <p>You are not logged in.</p>
    </NotAuthorized>
    <Authorized>

        @if (!OperatingSystem.IsBrowser())
        {
            <MudProgressCircular Indeterminate="true" Color="Color.Primary" Size="Size.Large" />
            <h1>Loading WebAssembly...</h1>

        }
        else
        {



            @*  <MudText Color="Color.Success" Class="mb-4">Hello @context.User.Identity?.Name!</MudText> *@

            @*   <MudPaper Class="pa-16 ma-2" Elevation="0">
            <MudFab Color="Color.Primary" StartIcon="@Icons.Custom.FileFormats.FileDocument" Label="Application for Scheme" Href="/application" />
        </MudPaper> *@


            @if (Elements != null)
            {
                <MudStack Row="true">
                    <MudTextField @bind-Value="searchString" Label="Search" Variant="Variant.Text" Adornment="Adornment.Start" AdornmentIcon="@Icons.Material.Filled.Search" Immediate="true" OnBlur="ApplyFilter" />

                    <MudButton OnClick="ApplyFilter" Variant="Variant.Filled" Color="Color.Primary" StartIcon="@Icons.Material.Filled.FilterList">
                        Apply Filter
                    </MudButton>
                </MudStack>
                <MudPaper Class="p-4">
                    <MudTable Items="@FilteredItems" @ref="table" @bind-Page="currentPage"
                    Bordered="true"
                    Hover="true"
                    Breakpoint="Breakpoint.Sm"
                    Elevation="2"
                    RowsPerPage="2">
                        <ToolBarContent>
                            <MudButton Color="Color.Primary" OnClick="OpenAddDialog">Add</MudButton>
                            <MudButton Color="Color.Primary" OnClick="LoadData">Refresh</MudButton>
                        </ToolBarContent>

                        <HeaderContent>
                            <MudTh>Application Id</MudTh>
                            <MudTh>Profile Id</MudTh>
                            <MudTh>Full Name</MudTh>
                            <MudTh>Status</MudTh>
                            <MudTh>LastName</MudTh>
                            <MudTh>Actions</MudTh>
                        </HeaderContent>

                        <RowTemplate Context="Item">
                            <MudTd DataLabel="Application ID">
                                @Item.Id
                            </MudTd>
                            <MudTd DataLabel="Application ID">
                                @Item.Profile.Id
                            </MudTd>
                            <MudTd DataLabel="Full Name">
                                @Item.Profile.FirstName @Item.Profile.MiddleName @Item.Profile.LastName
                            </MudTd>
                            <MudTd DataLabel="Middle Name">
                                @Item.Status
                            </MudTd>

                            <MudTd>
                                <MudButton StartIcon="@Icons.Material.Filled.Edit"
                                OnClick="() => OpenEditDialog(Item)"
                                Color="Color.Info"
                                Variant="Variant.Filled"
                                Size="Size.Small">
                                    Edit
                                </MudButton>

                                <MudButton Icon="@Icons.Material.Filled.Delete" OnClick="() => Delete(Item)" Color="Color.Error" Variant="Variant.Filled" Size="Size.Small">Delete</MudButton>
                            </MudTd>
                        </RowTemplate>
                    </MudTable>
                </MudPaper>

            }
            else
            {
                <h1>Loading Data...</h1>
            }


        }

    </Authorized>
</AuthorizeView>


@code {

    // [Inject]
    // private HttpClient Http { get; set; }
    private MudTable<ApplicationVM> table;
    private ObservableCollection<ApplicationVM> Elements = new ObservableCollection<ApplicationVM>();
    private bool _readOnly;
    private bool _isCellEditMode;
    private List<string> _events = new();
    private bool _editTriggerRowClick;
    private ApplicationViewModel? selectedApplicationItem;

    private int currentPage = 0;


    private ObservableCollection<ApplicationVM> FilteredItems = new();
    private string searchString = string.Empty;

    List<ApplicationDto> applicationList;
    HttpClient objHttpClient;

    public async void LoadData()
    {
        objHttpClient = new HttpClient();
        objHttpClient.BaseAddress = new Uri("https://localhost:7085/");
        // applicationList = await objHttpClient.GetFromJsonAsync<List<ApplicationDto>>("api/application");

        var response = await objHttpClient.GetAsync("api/application");


        if (response.IsSuccessStatusCode)
        {
            var json = await response.Content.ReadAsStringAsync();
            applicationList = JsonSerializer.Deserialize<List<ApplicationDto>>(json, new JsonSerializerOptions { PropertyNameCaseInsensitive = true });
            List<ApplicationVM> lstData = new List<ApplicationVM>();

            lstData = Extensions.ConvertList(applicationList);
            // lstData = Extensions.CopyListProperties<ApplicationDTO, ApplicationItem>(applications);

            Elements = new ObservableCollection<ApplicationVM>(lstData);
            FilteredItems.Clear();
            FilteredItems = Elements;

            Snackbar.Add("Application Fetch Sucessfully...", Severity.Info);
            // Elements = await httpClient.GetFromJsonAsync<List<ApplicationItem>>("webapi/periodictable");
            // StateHasChanged();
        }
        else if (response.StatusCode == System.Net.HttpStatusCode.NotFound)
        {
            Snackbar.Add("Application not found.", Severity.Info);
        }
        else
        {
            Snackbar.Add(response.StatusCode.ToString(), Severity.Error);
        }

        StateHasChanged();
    }


    protected override async Task OnAfterRenderAsync(bool firstRender)
    {

        if (firstRender)
        {
            LoadData();
            StateHasChanged();
        }
    }

    #region Operation
    async void Delete(ApplicationVM Item)
    {

        var response = await objHttpClient.DeleteAsync($"api/application/{Item.Id}");
        Snackbar.Add("Person deleted", Severity.Warning);

        LoadData();

        Elements.Remove(Item);
        FilteredItems = Elements;

        StateHasChanged();
    }

    void Save(ApplicationViewModel Item)
    {
        Snackbar.Add($"FirstName: {Item.FirstName}, MiddleName: {Item.MiddleName}", Severity.Success);
    }

    private async Task OpenEditDialog(ApplicationVM Item)
    {
        DialogParameters objParam = new DialogParameters();
        objParam.Add("Item", Item);

        // var parameters = new DialogParameters
        //     {
        //         ["Item"] = new ApplicationVM
        //         {
        //             FirstName = Item.Profile.FirstName,
        //             MiddleName = Item.Profile.MiddleName,
        //             LastName = Item.Profile.LastName
        //         }
        //     };

        var dialog = DialogService.Show<EditApplicationDailog>("Edit Application", objParam);
        DialogResult? result = await dialog.Result;

        if (!result.Canceled)
        {
            ApplicationVM updated = (ApplicationVM)result.Data;
            var index = Elements.ToList().FindIndex(p => p.Id == updated.Id);

            if (index != -1)
            {
                Elements[index] = updated;
                FilteredItems[index] = updated;

                objHttpClient = new HttpClient();
                objHttpClient.BaseAddress = new Uri("https://localhost:7085/");

                // var Data = await objHttpClient.GetFromJsonAsync<List<object>>("api/application");
                ApplicationDto objApplicationDto = Extensions.Convert(updated);

                var response = await objHttpClient.PutAsJsonAsync($"api/application/{objApplicationDto.Id}", objApplicationDto);

                if (response.IsSuccessStatusCode)
                {
                    LoadData();

                    // Optionally read response content
                    var updatedApplications = await response.Content.ReadFromJsonAsync<ApplicationDto>();

                    Snackbar.Add($"FirstName: {Item.Profile.FirstName}, MiddleName: {Item.Profile.MiddleName}", Severity.Success);
                }
                else
                {
                    // Handle error
                    var errorMessage = await response.Content.ReadAsStringAsync();
                    Console.WriteLine($"Error: {errorMessage}");

                    Snackbar.Add("Error Occur : " + errorMessage);
                }


            }
        }
    }


    private async Task OpenAddDialog()
    {
        ApplicationVM objVM = new ApplicationVM();
        DialogParameters objParam = new DialogParameters();
        objParam.Add("Item", objVM);

        var dialog = DialogService.Show<AddApplicationDailog>("Add Application");
        DialogResult? result = await dialog.Result;

        if (!result.Canceled)
        {
            ApplicationVM Item = (ApplicationVM)result.Data;

            if (Item != null)
            {
                ApplicationDto obj = Extensions.Convert(Item);

                try
                {
                    var jsonString = JsonSerializer.Serialize(obj);

                    // Test obj = new Test();
                    var response = await objHttpClient.PostAsJsonAsync("api/application", obj);  // You can pass the body of the POST request if needed

                    // Check if the response is successful
                    response.EnsureSuccessStatusCode();

                    // Elements.Add(Item);

                    LoadData();
                    // FilteredItems.Add(Item);

                    Snackbar.Add($"FirstName: {Item.Profile.FirstName}, MiddleName: {Item.Profile.MiddleName}", Severity.Success);
                }
                catch (Exception ex)
                {

                    Snackbar.Add(ex.Message);
                }


            }
        }
    }

    private void ApplyFilter()
    {
        if (string.IsNullOrWhiteSpace(searchString))
        {
            FilteredItems = Elements;
        }
        else
        {
            FilteredItems = Elements.ToList().Where(item =>
                     (!string.IsNullOrEmpty(item.Profile.FirstName) && item.Profile.FirstName.Contains(searchString, StringComparison.OrdinalIgnoreCase)) ||
                     (!string.IsNullOrEmpty(item.Profile.LastName) && item.Profile.LastName.Contains(searchString, StringComparison.OrdinalIgnoreCase))).ToObservableCollection();

        }
    }
    #endregion


}
